.curve-path {
    stroke : #d82323;
    stroke-width : 1;
    fill : none;
}
.curve-axis{
    stroke : #888;
    stroke-width : 1;
    fill : none;
}
.curve-axis-label{
    fill : #888;
    font-size: 12;
}
